header {
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

logo {
    width: 50px;
    height: 50px;
} 

div  {
font-family: serif;
font-size: 20px;
width: 600px;
border: 2px solid transparent;
position: relative;
left: 400px;
text-align: center;

}
div:hover {
border-color: #999;
border-radius: 2px;
}

footer {
height: 150px;
background: repeating-linear-gradient(45deg, red 50px, orange 100px, yellow 150px);
}
